PORT=8000
DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost,domain.name.example

SSLIFY_DISABLE=True

# To create the database locally: createdb jordanbeach
DATABASE_URL=postgres://localhost/jordanbeach
