{% load static from staticfiles %}
<nav class="navbar">
    <div class="row">
        <div class="small-12 columns">
            <ul class="navbar__menu">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'cv' %}">CV</a>
                </li>
                <li>
                    <a href="mailto:someone@example.com" target="_top"><i class="fa fa-envelope-o fa-3x" aria-hidden="true" title="Email me"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

